<div class="search-paginator-container">
    <div class="col-search">
        <mat-form-field>
            <mat-label>Search</mat-label>
            <input type="text" matInput name="textFilter" [(ngModel)]="textFilter"
                (ngModelChange)="textFilterChange()" />
        </mat-form-field>
    </div>
    <div class="col-paginator">
        <ng-container [ngTemplateOutlet]="paginator"></ng-container>
    </div>
</div>

<table mat-table matSort [dataSource]="(departments$|async)||[]" (matSortChange)="sortChange($event)">
    <ng-container matColumnDef="departmentName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="departmentName">Name</th>
        <td mat-cell *matCellDef="let department">{{department.departmentName}}</td>
    </ng-container>

    <ng-container matColumnDef="departmentId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="departmentId">Id</th>
        <td mat-cell *matCellDef="let department">{{department.departmentId}}</td>
    </ng-container>

    <ng-container matColumnDef="city">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="city">City</th>
        <td mat-cell *matCellDef="let department">{{department.location.city}}</td>
    </ng-container>

    <ng-container matColumnDef="streetAddress">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="streetAddress">Street Address</th>
        <td mat-cell *matCellDef="let department">{{department.location.streetAddress}}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let department">
            <button mat-icon-button color="primary" (click)="detail(department.departmentId)">
                <mat-icon>
                    description
                </mat-icon>
            </button>
            <button mat-icon-button color="accent" (click)="edit(department)">
                <mat-icon>edit</mat-icon>
            </button>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row;columns:displayedColumns;"></tr>
</table>
<ng-container [ngTemplateOutlet]="paginator"></ng-container>


<ng-template #paginator>
    <mat-paginator [pageIndex]="pageIndex$|async" [pageSize]="pageSize$|async" [pageSizeOptions]="[5,10,20,40]"
        [length]="length$|async" (page)="onPageEvent($event)"></mat-paginator>
</ng-template>