<mat-card>
    <mat-card-subtitle *ngIf="job?.jobId;else create">
        {{job?.jobTitle}}
    </mat-card-subtitle>
    <mat-card-content>
        <form [formGroup]="jobForm" (ngSubmit)="submitForm()">
            <mat-form-field>
                <mat-label>Job Title</mat-label>
                <input matInput type="text" formControlName="jobTitle">
                <mat-error *ngIf="jobForm.get('jobTitle')?.getError('required')">
                    This field is required
                </mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Minimum Salary</mat-label>
                <input matInput type="number" formControlName="minSalary">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Maximum Salary</mat-label>
                <input matInput type="number" formControlName="maxSalary">
            </mat-form-field>
            <mat-error *ngIf="jobForm.getError('fieldSmaller')">
                Field must be bigger or equal to minimum salary.
            </mat-error>
            <div class="button-container">
                <button type="submit" mat-raised-button color="primary" [disabled]="jobForm.invalid">Submit</button>
                <button type="button" mat-raised-button (click)="close()">Cancel</button>
            </div>
        </form>
    </mat-card-content>
</mat-card>


<ng-template #create>
    Create a new job.
</ng-template>