<div class="page-job-history-index">
    <div class="page-title">
        <h1>Job History</h1>
    </div>
    <div>
        <button mat-raised-button (click)="openDialog(null)" color="primary">Add new history</button>
    </div>
    <app-job-history-detail-table [jobHistoryCollection]="(jobHistoryCollection$ |async)||[]"
        (editJobHistory)="openDialog($event)" *ngIf="(jobHistoryCollection$|async)?.length;else whenEmpty">
    </app-job-history-detail-table>
</div>


<ng-template #whenEmpty>
    <p>There are not Job History items , please add one.</p>
</ng-template>