<div class="form-dialog">
    <mat-card>
        <mat-card-subtitle *ngIf="department?.departmentId; else noSub" >
            {{department.departmentName}}
        </mat-card-subtitle>
        <mat-card-content>
            <form [formGroup]="departmentForm" (ngSubmit)="submitForm()">
                <mat-form-field>
                    <mat-label>Name</mat-label>
                    <input matInput type="text" formControlName="departmentName" autofocus autocomplete="off">
                </mat-form-field>
    
                <mat-form-field>
                    <mat-label>City</mat-label>
                    <input matInput type="text" formControlName="city">
                </mat-form-field>
    
                <mat-form-field>
                    <mat-label>Street Address</mat-label>
                    <input matInput type="text" formControlName="streetAddress">
                </mat-form-field>
    
                <mat-form-field>
                    <mat-label>Postal Code</mat-label>
                    <input matInput type="text" formControlName="postalCode">
                </mat-form-field>
    
                <mat-form-field>
                    <mat-label>State Province</mat-label>
                    <input matInput type="text" formControlName="stateProvince">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Country</mat-label>
                    <mat-select formControlName="countryId">
                        <mat-option>----</mat-option>
                        <mat-option *ngFor="let country of countries$|async" [value]="country.countryId">
                            {{country.countryName}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
    
                
    
                <div class="button-container">
                    <button type="submit" mat-raised-button color="primary" [disabled]="departmentForm.invalid">
                        Submit
                    </button>
                    <button type="button" mat-raised-button (click)="close()">Cancel</button>
                </div>
                
            </form>
        </mat-card-content>
    </mat-card>
</div>

<ng-template #noSub>
    Create New Department
</ng-template>