.form-dialog {
    width: 600px;
    max-width: 100%;
    margin: auto;
}

mat-card {
    width: 90%;
    margin: auto;
}

form {
    width: 100%;
}

mat-form-field {
    width: 100%;
    min-width: 300px;
}

.button-container {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}