form{
    width:100%;
}
mat-form-field{
    width: 100%;
}
mat-card{
    width: 90%;
}
.button-container{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

mat-card-title{
    text-align: center;
}