mat-card{
    width: 90%;
    max-width: 600px;
    margin: auto;
}

form{
    width: 100%;
}
mat-form-field{
    width: 45%;
    padding: 2%;
}
.button-container{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}