<div class="page-app">
  <mat-toolbar color="primary">
    <div class="toolbar-links-container">
      <button mat-button class="toolbar-burger" (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <a mat-button routerLink="/index" class="toolbar-link">Home</a>
      <a mat-button routerLink="/regions" class="toolbar-link">Regions</a>
      <a mat-button routerLink="/countries" class="toolbar-link">Countries</a>
      <a mat-button routerLink="/departments" class="toolbar-link">Departments</a>
      <a mat-button routerLink="/jobs" class="toolbar-link">Jobs</a>
      <a mat-button routerLink="/employees" class="toolbar-link">Employees</a>
    </div>
  </mat-toolbar>
</div>
<mat-drawer-container>
  <mat-drawer mode="over" #sidenav>
    <mat-nav-list>
      <a mat-list-item routerLink="/index" (click)="sidenav.close()">
        Home
      </a>
      <a mat-list-item routerLink="/regions" (click)="sidenav.close()">
        Regions
      </a>
      <a mat-list-item routerLink="/countries" (click)="sidenav.close()">
        Countries
      </a>
      <a mat-list-item routerLink="/departments" (click)="sidenav.close()">
        Departments
      </a>
      <a mat-list-item routerLink="/jobs" (click)="sidenav.close()">
        Jobs
      </a>
      <a mat-list-item routerLink="/employees" (click)="sidenav.close()">
        Employees
      </a>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>