<div class="page-employee-detail">
    <div *ngIf="employee;then employeeCard else noEmployee"></div>
</div>

<ng-template #employeeCard>
    <mat-card>
        <mat-card-subtitle>
            {{employee?.employeeId}}
        </mat-card-subtitle>

        <mat-card-title>
            {{employee?.firstName}} {{employee?.lastName}}
        </mat-card-title>

        <mat-card-content>
            <ul>
                <li>Salary : {{employee?.salary}}</li>
                <li>Manager : {{employee?.manager !== null ? employee?.manager?.firstName + ' ' +
                    employee?.manager?.lastName : 'N/A' }} </li>
                <li>Email : {{employee?.email || "N/A"}}</li>
                <li>Hire Date : {{parseDate(employee?.hireDate)}}</li>
                <li>Phone Number : {{employee?.phoneNumber || "N/A"}}</li>
                <li>Job : {{employee?.job?.jobTitle || "N/A"}}</li>
                <li>Department : {{employee?.department?.departmentName || "N/A"}}</li>
            </ul>

            <mat-tab-group>
                <mat-tab label="Job History">
                    <app-job-history-table [jobHistoryCollection]="employee?.jobHistories||[]"></app-job-history-table>
                </mat-tab>
                <mat-tab label="Employees">
                    <app-employees-table ></app-employees-table>
                </mat-tab>
            </mat-tab-group>
        </mat-card-content>
        <mat-card-actions></mat-card-actions>
        <mat-card-footer *ngIf="loading$|async">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </mat-card-footer>
    </mat-card>
</ng-template>


<ng-template #noEmployee>

</ng-template>