<div class="page-departments-index">
    <div class="page-title">
        <h1>Departments</h1>
    </div>
    <div>
        <button mat-raised-button color="primary" (click)="openDialog(null)">Add New Department</button>
    </div>
    <ng-template *ngIf="(departments$|async);then table else emptyDepartments">
    </ng-template>
</div>

<ng-template #emptyDepartments>
    <p>There are no departments, please add one.</p>
</ng-template>

<ng-template #table>
    <app-departments-table (editDepartment)="openDialog($event)">
    </app-departments-table>
</ng-template>